<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Example Static Template</title>
</head>
<body>
<p>This is a static template that is rendered separately from the normal docs files.</p>
<br>
<h3>Repos</h3>
<ul>
	{% for handle, r in docs %}
		<li>{{ r.title }} (<code>{{ handle }}</code>)</li>
	{% endfor %}
</ul>
</body>
</html>
